div#sidebar {
    width: 250px;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(#1E1A43, #4A4CA6);
}

#sidebar .sidebar-item {
    position: relative;
    height: 50px;
    padding: 10px;
    display: inline-flex;
    font-size: 15px;
    align-items: center;
    /* border-bottom: 1px solid #007bff6b; */
    width: 100%;
    color: white !important;
    font-weight: 700
}

.page-item.active .page-link{
    background-color: #1E1A43;
    border-color: #1E1A43;
}
#sidebar .sidebar-item:hover{
    text-decoration: unset;
    background: #fffdfd;
    color: #353535 !important;
}

#sidebar .sidebar-item.active {
    text-decoration: unset;
    background: #fffdfd !important;
    color: rgb(0, 0, 0) !important;
}

#sidebar .sidebar-item.active .sidebar-icon {
    color: #000 !important;
}

#sidebar .sidebar-item:hover .sidebar-icon {
    color: #000 !important;
}

#sidebar .sidebar-item .sidebar-icon {
	width:11%;
	padding: auto;
    color: white;
}

div#main{
	margin-top: 10px;
	margin-left:250px;
	padding: 20px
}
.admin{
    margin-top: 10px;
    margin-left:250px;
    padding: 20px;
    width:82% !important;
}
.pull-right{
	float: right;
}
button.btn-rounded{
	border-radius: 50% !important;
}

/* Base Styles */

/* Container for Login Section */
#login-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Left Section of Login */
#left-section {
    flex: 1;
    background-image: linear-gradient(#1E1A43, #4A4CA6);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    overflow: hidden;
    position: relative;
}
#left-section::after {
    content: '';
    position: absolute;
    top: -50%;
    right: -25%;
    width: 45%;
    height: 200%;
    background-color: white;
    border-radius: 50%;
    transform: rotate(-10deg);
}

/* Heading in Left Section */
#left-section h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 140px;
    padding: 0;
}

/* Right Section of Login */
#right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 3rem 0 0 3rem;
    position: relative;
    margin-left: -3rem;
    box-sizing: border-box;
}

/* Logo */
.logo {
    color: white;
    font-size: 70px;
    font-weight: bold;
    margin-left: 190px;
    padding: 0;
    position: absolute;
    top: 15%;
    left: 22%;
    transform: translateX(-50%);
    z-index: 2;
}

/* Illustration in Left Section */
.illustration {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 700px;
    margin-left: 10px;
    background-image: url('http://localhost/QUILANA/image/User.png');
    background-size: 500px 680px;
    background-repeat: no-repeat;
    background-position: center;
    top: 5%;
    position: relative;
    z-index: 1;
}

/* Sign In Form */
.sign-in-form {
    width: 100%;
    max-width: 400px;
    margin: 4rem 0;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
}

.sign-in-form h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 8rem;
    margin-bottom: 1rem;
    color: black;
}

/* Form Group Styles */
.form-group {
    margin-bottom: 0.5rem;
}

.form-group.text-center {
    margin-top: 1rem;
}

.form-group label {
    display: block;
    font-size: medium;
    font-weight: lighter;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Row Form Group */
.form-group.row {
    display: flex;
    justify-content: space-between;
    margin-left: 0rem;
    margin-right: 0rem;
}

.col-half {
    width: 48%;
    box-sizing: border-box;
}

/* Form Control */
.form-control {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

/* Sign In Button */
.btn-sign-in {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.75rem;
    background-color: #4A4CA6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Landing Page */
.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('http://localhost/QUILANA/image/HomePage.png');
    background-size: 1200px 800px;
    background-position: right center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.landing-page h1 {
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(#1E1A43, #4A4CA6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    top: 20px;
    left: 20px;
    margin: 0;
    z-index: 2;
}

/* Custom Button */
.custom-button {
    background-color: #4A4CA6;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 300px;
    margin-bottom: 100px;
    z-index: 2;
}

.custom-button:hover {
    background-color: #1E1A43;
}

/* Get Started Button */
#getStartedButton {
    margin-top: 550px;
    z-index: 2;
}

/* Tabs Container */
.tabs-container {
    margin-bottom: 20px;
}

.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-bottom: 2px solid #ddd;
}

.tabs .tab-link {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
}

.tabs .tab-link.active {
    border-bottom: 2px solid #5a5ada;
    color: #5a5ada;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* Course Container */
.course-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.course-card {
    background-color: #ffffff;
    border: 1px solid #090909;
    border-radius: 5px;
    width: 20%; 
    margin-bottom: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.course-card-body {
    padding: 15px;
}

.course-card-title {
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.course-card-text {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

/* Course Actions */
.course-actions {
    display: flex;
    justify-content: center;
}

.course-actions .btn {
    font-size: 14px;
    padding: 5px 15px;
    margin-left: .5rem;
    margin-right: .5rem;
}

.class-actions {
    display: flex;
    justify-content: center;
}

.class-actions .btn {
    font-size: 14px;
    padding: 5px 60px;
}

.add-course-container {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 20px;
    
}

.add-btn {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    background-color: #4A4CA6;
    color: white;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-btn:hover {
    background-color: #1E1A43;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: .5rem;
}

.search-bar button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    background-color: #4A4CA6;
    color: white;
    border-radius: 4px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #1E1A43;
}

/* Media Queries for Responsiveness */

/* For tablets and smaller devices (width 768px and below) */
@media (max-width: 768px) {
    /* Left Section Adjustments */
    #left-section h1 {
        font-size: 50px;
        margin-left: 80px;
    }

    .logo {
        font-size: 50px;
        top: 10%;
        left: 18%;
    }

    .illustration {
        max-width: 400px;
        max-height: 500px;
        background-size: 400px 550px;
    }

    /* Right Section Adjustments */
    #right-section {
        margin-left: -2rem;
    }

    .sign-in-form h2 {
        font-size: 1.5rem;
        margin-left: 6rem;
    }

    .custom-button {
        font-size: 16px;
        padding: 8px 20px;
        margin-right: 100px;
        margin-bottom: 50px;
    }

    #getStartedButton {
        margin-top: 300px;
    }

    /* Course Container Adjustments */
    .course-card {
        width: 45%;
    }
}

/* For mobile devices (width 576px and below) */
@media (max-width: 576px) {
    /* Container Adjustments */
    #login-container {
        flex-direction: column;
    }

    /* Left Section Adjustments */
    #left-section {
        height: 50vh;
        padding: 1rem;
    }

    #left-section h1 {
        font-size: 40px;
        margin-left: 40px;
    }

    .logo {
        font-size: 40px;
        top: 5%;
        left: 15%;
    }

    .illustration {
        max-width: 300px;
        max-height: 400px;
        background-size: 300px 400px;
    }

    /* Right Section Adjustments */
    #right-section {
        margin-left: 0;
        border-radius: 0;
    }

    .sign-in-form {
        margin: 2rem 1rem;
    }

    .sign-in-form h2 {
        font-size: 1.2rem;
        margin-left: 4rem;
    }

    .custom-button {
        font-size: 14px;
        padding: 6px 16px;
        margin-right: 50px;
        margin-bottom: 30px;
    }

    #getStartedButton {
        margin-top: 200px;
    }

    /* Course Container Adjustments */
    .course-card {
        width: 100%;
    }
}
